/**
* #.# Typography
*/

address,
button,
input,
label,
li,
p,
select,
textarea,
td,
th {
	font-family: $font-body;
	font-size: 100%;
	line-height: $line-height;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.title {
	display: block;
	font-family: $font-heading;
	font-weight: $fw-heading;
	text-transform: $font-heading-transform;
	line-height: $line-height-heading;
}

h1 {
	font-size: 190%;
	margin-bottom: 1em;
}

h2 {
	font-size: 170%;
	margin-bottom: 1em;
}

h3,
.title {
	font-size: 120%;
	margin-bottom: 0.5em;
}

h4,
h5,
h6 {
	font-size: 110%;
	margin-bottom: 0.15em;
}

.center {
	text-align: center;
}

.underline {

	&:after {
		background-color: $brand2;
		content: "";
		display: block;
		height: rc(3);
		margin: 0.5em auto 0;
		width: rc(100);
	}
}


/* Paragraphs, small, time, lists, blockquotes within content areas */

article {

	blockquote {
		margin: rc(20) 0;
		position: relative;
		padding: rc(20) 0 rc(20) rc(30);
	}

	p {
		margin: 0 0 1em;

		/* add more space for subheadings in big chunks of text */

		+ h2,
		+ h3,
		+ h4,
		+ h5,
		+ h6 {

			@include fp(margin-top,25,40);
		}

		&:empty {
			display: none;

			+ h2,
			+ h3,
			+ h4,
			+ h5,
			+ h6 {
				margin-top: 0;
			}
		}
	}

	small:not([class*="meta"]) {
		display: block;
		font-size: 75%;
		margin: rc(10) 0;
		color: inherit;
	}

	small.meta,
	time {
		display: block;
		font-size: 75%;
		margin: 0 0 rc(10);
		opacity: 0.7;
	}

	ol,
	ul {
		margin: 0 0 rc(20) rc(40);
		padding: 0;

		li {
			margin-bottom: rc(5);
		}

		ol,
		ul {
			margin: rc(5) 0 0 rc(30);
		}

		/* add more space for subheadings in big chunks of text */
		+ h2,
		+ h3,
		+ h4,
		+ h5,
		+ h6 {

			@include fp(margin-top,25,40);
		}
	}

	ol {
		list-style: decimal;
	}

	ul {
		list-style: disc;
	}

	hr {
		border: solid $border-color;
		border-width: rc(1) 0 0;
		height: rc(1);
		margin: 2em 0;
		width: 100%;
	}

	.table-container {
		overflow-x: auto;
		width: 100%;
	}

	table {
		border: rc(1) solid $border-color;
		border-collapse: collapse;
		margin: 0 0 rc(20);
		width: 100%;

		th,
		td {
			border: rc(1) solid $border-color;
			padding: rc(10);
		}

		tr {

			th {
				background-color: rgba($body, 0.05);
				font-weight: $fw-bold;
				text-align: left;
			}

			td {

				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
