

/**
 * Colour Scheme
 */
$black:		rgb(0, 0, 0);
$white:		rgb(255, 255, 255);
$color-1:	rgb(23, 62, 67);		// green dark
$color-2:	rgb(63, 176, 172);	// green light
$color-3:	rgb(221, 223, 212);	// grey
$color-4:	rgb(250, 229, 150);	// yellow
$body:		rgb(55, 55, 55);

//----------------------------------------------
// Typography - Heading / Body / Nav
//----------------------------------------------

$font-heading-name: "Quicksand";
$font-body-name: "Quicksand";

$font-body: #{$font-body-name}, sans-serif;
$font-heading: #{$font-heading-name}, sans-serif;
$font-heading-transform: lowercase;
$font-subheading: $font-heading;
$font-subheading-transform: none;
$font-nav: $font-heading;
$font-nav-dropdown: $font-nav;
$font-nav-transform: uppercase;
$font-button: $font-heading;
$font-button-transform: uppercase;

$body-min:		14; /* set these for site-wide fp(font-size,min,max) sizes */
$body-max:		18;

$h1-min: 			$body-min + 15;
$h1-max:			$body-max + 15;
$h2-min: 			$body-min + 8;
$h2-max: 			$body-max + 8;
$h3-min:			$body-min + 5;
$h3-max: 			$body-max + 5;
$h4h5h6-min:	$body-min + 2;
$h4h5h6-max:	$body-max + 2;
$nav-min:			$body-min + 2;
$nav-max:			$body-max + 2;

$footer-min:	$body-min - 2;
$footer-max:	$body-max - 4;

//----------------------------------------------
//  Weights and Heights
//----------------------------------------------
$fw-light:						300;
$fw-normal:						300;
$fw-med:							500;
$fw-bold:							500;
$fw-black:						500;
$fw-button: 					$fw-bold;
$fw-heading:					$fw-bold;
$fw-nav:							$fw-bold;
$line-height-base:		1.4;
$line-height-heading:	1.15;

//----------------------------------------------
//  Navigation Colours
//----------------------------------------------
$nav-link:										$body;
$nav-link-hover:							darken($color-3, 20%);
$nav-link-bg:									$white;
$nav-link-bg-hover:						$white;
$nav-dropdown:								$white;
$nav-dropdown-hover:					$nav-dropdown;
$nav-dropdown-bg:							$color-3;
$nav-dropdown-bg-hover:				darken($nav-dropdown-bg, 10%);

//----------------------------------------------
//  Links
//----------------------------------------------
$link-color:									$color-2;
$link-color-hover:						$color-1;

//----------------------------------------------
//  Grid additions
//----------------------------------------------
$gutter:						          rem-calc(20);

//----------------------------------------------
//Transitions
//----------------------------------------------
$transition:									0.3s ease-in-out;

//----------------------------------------------
//  Miscellaneous
//----------------------------------------------
$border-color:								lighten($body, 55%);

//----------------------------------------------
//  Social media colours
//----------------------------------------------
$facebook:						        rgb(59, 89, 152);
$googleplus:					        rgb(209, 72, 54);
$flickr:						          rgb(0, 99, 219);
$houzz: 						          rgb(122, 193, 66);
$instagram:						        rgb(63, 114, 155);
$linkedin:						        rgb(0, 127, 177);
$pinterest:						        rgb(203, 32, 39);
$tripadvisor: 					      rgb(88, 148, 66);
$tumblr:						          rgb(44, 71, 98);
$twitter:						          rgb(0, 172, 237);
$vimeo:							          rgb(68, 187, 255);
$vine:							          rgb(0, 164, 122);
$youtube:						          rgb(205, 51, 45);
