urlset {
	color: #222;
	display: block;
	font-family: sans-serif;
	font-size: 11px;
	margin: 0 auto;
	max-width: 960px;
	padding: 30px;
}

urlset:before {
	content: "Sitemap";
	display: block;
	font-size: 200%;
	padding: 5px 5px 20px;
}

p.total {
	display: block;
	margin: 0 0 20px;
	padding: 0;
}

url {
	display: block;
	overflow: auto;
	padding: 5px;
	word-wrap: break-word;
}

url:nth-child(odd) {
	background: #f8f8f8;
}

loc {
	float: left;
	max-width: 75%;
}

lastmod {
	float: right;
}

script {
	display:none;
}

@media screen and ( max-width: 960px ){

	urlset {
		font-size: 12px;
	}

	lastmod,
	loc {
		float: left;
		max-width: 100%;
		width: 100%;
	}
}

@media screen and ( max-device-width: 500px ) {

	urlset {
		zoom: 2;
	}

	lastmod,
	loc {
		float: left;
		max-width: 100%;
		width: 100%;
	}
}
