/**
* #.# Fluid Columns
*/
.container {
	position: relative;
	margin: 0 auto;
	max-width: rc(1200);
	width: auto;

	&--narrow {
		max-width: rc(960);
	}
}

.col-1 {
	flex-basis: 6.25%;
	max-width: 6.25%;
	width: 6.25%;
}

.col-2 {
	flex-basis: 12.5%;
	max-width: 12.5%;
	width: 12.5%;
}

.col-3 {
	flex-basis: 18.75%;
	max-width: 18.75%;
	width: 18.75%;
}

.col-4 {
	flex-basis: 25%;
	max-width: 25%;
	width: 25%;
}

.col-5 {
	flex-basis: 31.25%;
	max-width: 31.25%;
	width: 31.25%;
}

.col-6 {
	flex-basis: 37.5%;
	max-width: 37.5%;
	width: 37.5%;
}

.col-7 {
	flex-basis: 43.75%;
	max-width: 43.75%;
	width: 43.75%;
}

.col-8 {
	flex-basis: 50%;
	max-width: 50%;
	width: 50%;
}

.col-9 {
	flex-basis: 56.25%;
	max-width: 56.25%;
	width: 56.25%;
}

.col-10 {
	flex-basis: 62.5%;
	max-width: 62.5%;
	width: 62.5%;
}

.col-11 {
	flex-basis: 68.75%;
	max-width: 68.75%;
	width: 68.75%;
}

.col-12 {
	flex-basis: 75%;
	max-width: 75%;
	width: 75%;
}

.col-13 {
	flex-basis: 81.25%;
	max-width: 81.25%;
	width: 81.25%;
}

.col-14 {
	flex-basis: 87.5%;
	max-width: 87.5%;
	width: 87.5%;
}

.col-15 {
	flex-basis: 93.75%;
	max-width: 93.75%;
	width: 93.75%;
}

.col-16 {
	flex-basis: 100%;
	max-width: 100%;
	width: 100%;
}

.col-1-third {
	flex-basis: 33.33%;
	max-width: 33.33%;
	width: 33.33%;
}

.col-2-thirds {
	flex-basis: 66.66%;
	max-width: 66.66%;
	width: 66.66%;
}

/**
* #.# Single Column styling for under 768px
*/

@media all and (max-width: 767px) {

	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12,
	.col-13,
	.col-14,
	.col-15,
	.col-16,
	.col-1-third,
	.col-2-thirds {
		flex-basis: 100%;
		min-width: 100%;
		width: 100%;
	}
}

*[class*="col-"] {
	box-sizing: border-box;
	flex: 0 auto;
}