section {

	// .container {
	// 	position: relative;
	// 	width: 100%;
	// 	margin: 0 auto;
	// 	max-width: rem-calc(1200);
	// }

	&#content {

		#websites {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			article {
				background-color: lighten($body, 50);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				flex-grow: 1;
				flex-basis: 100%;
				min-width: 100%;
				position: relative;
				width: 100%;

				&:nth-child(2) {
					flex-basis: 100%;
					min-width: 100%;
					width: 100%;
				}

				.overview {
					color: $white;
					cursor: pointer;
					opacity: 1;
					padding: 30% 50%;
					position: relative;
					transition: opacity $transition;
					z-index: 1;

					html.no-touch & {
						opacity: 0;
					}

					&:after {
						bottom: 0;
						content: "";
						left: 0;
						opacity: 1;
						position: absolute;
						right: 0;
						top: 0;
						transition: opacity $transition;
						z-index: 0;

						html.no-touch & {
							background-color: $color-2;
						}
					}

					.inner {

						@include align-center;

						display: block;
						text-align: center;
						width: 80%;
						z-index: 1;

						.title {

							display: block;
							font-size: 130%;
							text-align: center;
							text-shadow: rem(-1) rem(-1) 0 rgba($body, 0.2), rem(1) rem(-1) 0 rgba($body, 0.2), rem(-1) rem(1) 0 rgba($body, 0.2), rem(1) rem(1) 0 rgba($body, 0.2);
							text-transform: $font-heading-transform;
							width: 100%;

							html.no-touch & {
								text-shadow: none;
							}
						}

						.industry {
							display: block;
							font-size: 100%;
							margin: rem(20) auto 0;
							text-align: center;
							text-shadow: rem(-1) rem(-1) 0 rgba($body, 0.2), rem(1) rem(-1) 0 rgba($body, 0.2), rem(-1) rem(1) 0 rgba($body, 0.2), rem(1) rem(1) 0 rgba($body, 0.2);
							text-transform: $font-heading-transform;
							width: 100%;

							html.no-touch & {
								text-shadow: none;
							}
						}
					}
				}

				.content {
					background-color: $color-4;
					bottom: 0;
					display: block;
					left: 0;
					opacity: 0;
					pointer-events: none;
					position: absolute;
					right: 0;
					top: 0;
					transition: opacity $transition;
					z-index: 9999;

					.inner {

						@include align-center;
						font-size: 90%;
						width: 80%;

						a.url {
							display: inline-block;
							margin: rem(10) 0 0;
						}
					}
				}

				&:hover,
				&:focus {

					.overview {
						opacity: 1;

						html.no-touch & {
							opacity: 1;
						}

						&:after {
							opacity: 0.75;
						}
					}

					.content {
						opacity: 1;
						pointer-events: auto;
					}
				}

				@include from($schooner) {
					flex-basis: 50%;
					max-width: 50%;
					min-width: 50%;
					order: 5;
					width: 50%;

					&:nth-child(1) {
						order: 1;
					}

					&:nth-child(2) {
						order: 3;
					}

					&:nth-child(3) {
						order: 2;
					}

					.content {
						bottom: 0;
						left: 100%;
						opacity: 0;
						top: 0;
						width: 100%;

						&:before {

							@include align-vertical;
							border: solid transparent;
							border-color: transparent;
							border-right-color: $color-4;
							border-width: rem(15);
							content: "";
							height: 0;
							pointer-events: none;
							right: 100%;
							width: 0;
						}
					}

					&:nth-child(2n + 3) {

						.content {
							left: auto;
							right: 100%;

							&:before {
								border-color: transparent;
								border-left-color: $color-4;
								left: 100%;
								right: auto;
							}
						}
					}
				}

				@include from($pint + 200) {
					flex-basis: 33.33%;
					max-width: 33.33%;
					min-width: 33.33%;
					order: 5;
					width: 33.33%;

					&:nth-child(1) {
						order: 2;
					}

					&:nth-child(2) {
						order: 5;
					}

					&:nth-child(3) {
						order: 1;
					}

					&:nth-child(4) {
						order: 3;
					}

					.content {
						bottom: 0;
						left: 100%;
						opacity: 0;
						top: 0;
						width: 100%;

						&:before {

							@include align-vertical;
							border: solid transparent;
							border-color: transparent;
							border-right-color: $color-4;
							border-width: rem(15);
							content: "";
							height: 0;
							pointer-events: none;
							right: 100%;
							width: 0;
						}
					}

					&:nth-child(2n + 3) {

						.content {
							left: 100%;
							right: auto;

							&:before {
								border-color: transparent;
								border-right-color: $color-4;
								left: auto;
								right: 100%;
							}
						}
					}

					&:nth-child(3n + 4) {

						.content {
							left: auto;
							right: 100%;

							&:before {
								border-color: transparent;
								border-left-color: $color-4;
								left: 100%;
								right: auto;
							}
						}
					}
				}

				@include from($jug) {
					flex-basis: 25%;
					max-width: 25%;
					min-width: 25%;
					width: 25%;

					&:nth-child(3n + 4) {

						.content {
							left: 100%;
							right: auto;

							&:before {
								border-color: transparent;
								border-right-color: $color-4;
								left: auto;
								right: 100%;
							}
						}
					}

					&:nth-child(5) {
						order: 3;
					}

					&:nth-child(4n + 5) {

						.content {
							left: auto;
							right: 100%;

							&:before {
								border-color: transparent;
								border-left-color: $color-4;
								left: 100%;
								right: auto;
							}
						}
					}
				}

				&.bio {
					background: $white;

					.overview {
						color: $body;
						opacity: 1;
						padding: 40% 50%;

						@include from($pot) {
							padding: 30% 50%;
						}

						html.no-touch & {
							opacity: 1;
						}

						&:after {
							display: none;
						}

						.inner {
							font-size: 90%;
							width: 90%;

							.title {
								margin: 0 0 rem(10);
								text-shadow: none;

								html.touch & {
									text-shadow: none;
								}
							}

							.more {
								color: $link-color;
								cursor: pointer;
								opacity: 1;
								overflow: hidden;
								text-transform: lowercase;
								transition: all $transition;
								white-space: nowrap;

								&:hover,
								&:focus {
									color: $link-color-hover;
								}

								&.inline {
									max-width: rem(300);
									overflow: hidden;

								}
							}

							.connect {
								display: flex;
								list-style: none;
								margin: rem(10) 0 0;
								padding: 0;
								text-align: center;

								li {
									display: inline;
									flex-grow: 1;
									font-size: 130%;

									a {
										box-shadow: none;

										&:hover,
										&:focus {

											&[href*="github"] {
												color: $black;
											}

											&[href*="linkedin"] {
												color: $linkedin;
											}
										}
									}
								}
							}
						}
					}

					&.expanded {
						background: $color-1;
						color: $white;
						max-height: 0;
						padding: 0 15%;
						transition: $transition;
					}

					&.open {

						.overview {

							.inner {

								.more.inline {
									color: $link-color;
									cursor: default;
									opacity: 0.3;
								}
							}
						}

						&.expanded {
							max-height: rem(3000);
							padding-bottom: rem(30);
							padding-top: rem(30);

							p {
								margin: 0 0 1rem;

								&:last-of-type {
									margin: 0;
								}

								&:empty {
									display: none;
								}
							}
						}

						.close {
							opacity: 1;
						}
					}
				}

				.close {
					cursor: pointer;
					display: block;
					height: rem(20);
					opacity: 0;
					position: absolute;
					right: rem(15);
					top: rem(15);
					width: rem(20);
					z-index: 10000;

					&:before,
					&:after {

						@include align-vertical;
						background-color: $white;
						content: "";
						height: rem(1);
						position: absolute;
						transition: all $transition;
						width: rem(20);
					}

					&:before {
						transform: rotate(45deg);
					}

					&:after {
						transform: rotate(-45deg);
					}

					&:hover,
					&:focus {

						&:before,
						&:after {
							height: rem(2);
						}
					}
				}
			}
		}
	}
}
