/*==============================================================================
	SIDEBARS
==============================================================================*/
aside {

	ul {

		@include fp(font-size,$body-min,$body-max);
		margin-bottom: $gutter;
		list-style: none;

		li {

			strong {

				@extend h3;
			}

			span {
				transition: none;
			}

			a {
				border: none;
				display: block;
			}
		}
	}
}
