body {
	background-color: $white;
	color: $body;
	display: block;
	font-family: $font-body;
	height: 100vh;
	line-height: $line-height-base;
	position: relative;

	#trcyshw {
		border: solid $white;
		border-width: rem(20);
		min-height: 100%;
		overflow: hidden;
	}

	&.error404 {

		#trcyshw {
			background-image: url(assets/img/backgrounds/404.jpg);
			background-position: left top;
			background-repeat: no-repeat;
			background-size: cover;
			border: none;
			bottom: 0;
			display: block;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
		}
	}
}
