/**
* #.# Galleries
*/
main,
article {

	.gallery {
		font-size: 0;
		margin: 0;

		.single-post & {
			margin: rem-calc(30) 0;
		}

		a,
		a:hover,
		a:focus {
			display: block;
			padding: 0;
			margin: 0;
			background: none;
		}

		.gallery-item {
			padding: 0;
			margin: 0;
			display: inline-block;
			position: relative;
			vertical-align: top;

			.gallery-icon {

				a {
					display: block;
					position: relative;

					img {
						display: block;
						border: none !important;
						width: 100% !important;
						height: auto;
						margin: 0;
					}

					&:after {
						background: $color-3;
						bottom: 0;
						content: "";
						left: 0;
						opacity: 0;
						position: absolute;
						right: 0;
						top: 0;
						transition: $transition;
					}

					&:hover,
					&:focus {

						&:after {

							opacity: 0.5;
						}
					}
				}
			}

			.gallery-caption {
				position: absolute !important;
				bottom: 0;
				text-align: center;
				background: rgba(0, 0, 0, 0.5);
				padding: rem-calc(5);
				font-size: rem-calc(10);
				color: #fff;
				width: 100%;
				font-style: normal;
				opacity: 0;
				transition: $transition;
				pointer-events: none;
			}

			&:hover {

				.gallery-caption {
					opacity: 1;
					z-index: 1000;
				}
			}
		}

		br {
			display: none !important;
		}

		&.gallery-columns-1,
		&.gallery-columns-2,
		&.gallery-columns-3,
		&.gallery-columns-4 {

			.gallery-item {

				width: 25% !important;

				&:nth-of-type(4n+4) {
					margin-right: 0 !important;
				}
			}
		}

		&.gallery-columns-5 {

			.gallery-item {
				width: 20% !important;

				&:nth-of-type(5n+5) {
					margin-right: 0 !important;
				}
			}
		}

		&.gallery-columns-6 {

			.gallery-item {
				width: 16.66% !important;

				&:nth-of-type(6n+6) {
					margin-right: 0 !important;
				}
			}
		}

		&.gallery-columns-7 {

			.gallery-item {
				width: 13.42% !important;

				&:nth-of-type(7n+7) {
					margin-right: 0 !important;
				}
			}
		}

		&.gallery-columns-8 {

			.gallery-item {
				width: 11.62% !important;

				&:nth-of-type(8n+8) {
					margin-right: 0 !important;
				}
			}
		}

		&.gallery-columns-9 {

			.gallery-item {
				width: 10.22% !important;

				&:nth-of-type(9n+9) {
					margin-right: 0 !important;
				}
			}
		}
	}
}

#gallery {

	&.container {
		padding: rem-calc(40) 2%;

		.gallery {
			font-size: 0;
			margin: 0;

			.gallery-item {
				display: inline-block;
				margin: 0;
				position: relative;
				vertical-align: top;
				width: 50%;

				@include bp($medium) {
					width: 33.33%;
				}

				@include bp($tablet-portrait) {
					width: 20%;
				}

				.gallery-icon {

					a {
						display: block;
						position: relative;

						&:after {
							background: $color-3;
							bottom: 0;
							content: "";
							left: 0;
							opacity: 0;
							position: absolute;
							right: 0;
							top: 0;
							transition: $transition;
						}

						img {
							display: block;
							height: 100%;
							margin: auto;
							max-width: none;
							width: 100%;
						}

						&:hover,
						&:focus {

							&:after {

								opacity: 0.5;
							}
						}
					}
				}

				figcaption {
					display: none !important;
				}
			}
		}
	}
}
