/**
* #.# Fluid Columns
*/

.row {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 0;

	.col,
	.cols,
	.column,
	.columns {
		box-sizing: border-box;
		flex: 0 auto;

		&.one {
			flex-basis: 6.25%;
			max-width: 6.25%;
			width: 6.25%;
		}

		&.two {
			flex-basis: 12.5%;
			max-width: 12.5%;
			width: 12.5%;
		}

		&.three {
			flex-basis: 18.75%;
			max-width: 18.75%;
			width: 18.75%;
		}

		&.four {
			flex-basis: 25%;
			max-width: 25%;
			width: 25%;
		}

		&.five {
			flex-basis: 31.25%;
			max-width: 31.25%;
			width: 31.25%;
		}

		&.six {
			flex-basis: 37.5%;
			max-width: 37.5%;
			width: 37.5%;
		}

		&.seven {
			flex-basis: 43.75%;
			max-width: 43.75%;
			width: 43.75%;
		}

		&.eight {
			flex-basis: 50%;
			max-width: 50%;
			width: 50%;
		}

		&.nine {
			flex-basis: 56.25%;
			max-width: 56.25%;
			width: 56.25%;
		}

		&.ten {
			flex-basis: 62.5%;
			max-width: 62.5%;
			width: 62.5%;
		}

		&.eleven {
			flex-basis: 68.75%;
			max-width: 68.75%;
			width: 68.75%;
		}

		&.twelve {
			flex-basis: 75%;
			max-width: 75%;
			width: 75%;
		}

		&.thirteen {
			flex-basis: 81.25%;
			max-width: 81.25%;
			width: 81.25%;
		}

		&.fourteen {
			flex-basis: 87.5%;
			max-width: 87.5%;
			width: 87.5%;
		}

		&.fifteen {
			flex-basis: 93.75%;
			max-width: 93.75%;
			width: 93.75%;
		}

		&.sixteen {
			flex-basis: 100%;
			max-width: 100%;
			width: 100%;
		}

		&.one-third {
			flex-basis: 33.33%;
			max-width: 33.33%;
			width: 33.33%;
		}

		&.two-thirds {
			flex-basis: 66.66%;
			max-width: 66.66%;
			width: 66.66%;
		}

		/**
		* #.# Single Column styling for under 768px
		*/

		@include to($pint) {

			&.one,
			&.two,
			&.three,
			&.four,
			&.five,
			&.six,
			&.seven,
			&.eight,
			&.nine,
			&.ten,
			&.eleven,
			&.twelve,
			&.thirteen,
			&.fourteen,
			&.fifteen,
			&.sixteen,
			&.one-third,
			&.two-thirds {
				flex-basis: 100%;
				min-width: 100%;
				width: 100%;
			}
		}
	}
}
