/**
* #.# Images
*/
main,
article,
section#styleguide {

	span.img {
		display: block;
		background: rgba($body, 0.05);
		text-align: center;
		margin: rem-calc(20) 0;

		@include bp($tablet-portrait) {
			display: initial;
		}

		img {
			display: block;
			margin: 0 auto;
		}
	}

	figure {
		display: block;
		background: rgba($body, 0.05);
		text-align: center;
		margin: rem-calc(20) 0;
		font-size: 0;

		@include bp($tablet-portrait) {
			display: initial;
			background: none;
			text-align: left;

			&.aligncenter {
				display: block;
				margin: rem-calc(20) auto;
			}

			&.alignright {
				float: right;
				margin: 0 0 rem-calc(20) rem-calc(20);
			}

			&.alignleft {
				float: left;
				margin: 0 rem-calc(20) rem-calc(20) 0;
			}
		}

		&.wp-caption {
			display: block;
			margin: rem-calc(20) 0;

			@include bp($tablet-portrait) {
				display: inline-block;
			}
		}

		img {
			display: inline-block;
			max-width: 100%;
			height: auto;
			margin: 0;
		}

		figcaption {

			@include fp(font-size,$body-min - 4,$body-max - 4);
			padding: rem-calc(5) 0;
			opacity: 0.8;
		}
	}
}
