/**
* #.# Links
*/
main {

	a {
		box-shadow: inset 0 rem(-1) 0 rgba($link-color, 0.2);
		color: $link-color;
		position: relative;
		visibility: visible;
		text-decoration: none;

		&:hover,
		&:focus {
			box-shadow: inset 0 rem(-1) 0 $link-color-hover;
			color: $link-color-hover;
		}
	}

	.bio.expanded {

		a {
			color: $white;

			&:hover,
			&:focus {
				box-shadow: inset 0 rem(-1) 0 $link-color;
				color: $link-color;
			}
		}
	}
}

#error404 {

	a {
		box-shadow: inset 0 rem(-1) 0 rgba($white, 0.5);
		color: $white;
		text-decoration: none;

		&:hover,
		&:focus {
			box-shadow: inset 0 rem(-1) 0 $white;
		}
	}
}
