/**
* #.# Messages
*
* A group of mixins for messages
*/
.message { /* information colours and icon by default */
	background: rgb(189, 229, 248);
	border: rem-calc(1) solid rgb(0, 82, 155);
	color: rgb(0, 82, 155);
	font-family: $font-body;

	@include fp(font-size,$body-min - 2,$body-max - 2);
	margin: rem-calc(10) 0;
	min-height: rem-calc(40);
	padding: rem-calc(10) rem-calc(10) rem-calc(10) rem-calc(35);
	position: relative;

	a {
		color: inherit;
		font-weight: $fw-bold;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&:before {

		@include icon("\f129");
		background: rgb(0, 82, 155);
		border-radius: 100%;
		color: $white;
		display: block;
		font-size: rem-calc(12);
		height: rem-calc(18);
		left: rem-calc(10);
		line-height: rem-calc(18);
		text-align: center;
		position: absolute;
		top: rem-calc(10);
		width: rem-calc(18);
	}
}

@mixin message {

	@extend .message;
}

@mixin message-error {

	@extend .message;
	background: rgb(255, 186, 186);
	border: rem-calc(1) solid rgb(216, 0, 12);
	color: rgb(216, 0, 12);

	&:before {

		@include icon("\f00d");
		background: rgb(216, 0, 12);
	}
}

@mixin message-success {

	@extend .message;
	background: rgb(223, 242, 191);
	border: rem-calc(1) solid rgb(79, 138, 16);
	color: rgb(79, 138, 16);

	&:before {

		@include icon("\f00c");
		background: rgb(79, 138, 16);
	}
}

@mixin message-warning {

	@extend .message;
	background: rgb(254, 239, 179);
	border: rem-calc(1) solid rgb(159, 96, 0);
	color: rgb(159, 96, 0);

	&:before {

		@include icon("\f12a");
		background: rgb(159, 96, 0);
	}
}

.error.message {

	@include message-error;
}

.success.message {

	@include message-success;
}

.warning.message {

	@include message-warning;
}

/**
* #.# Iframe Disclaimer
*/

.dontblamegoop {
	background: rgb(240, 240, 240);
	padding: rem-calc(5);
	text-align: center;
	font-size: rem-calc(11);
	display: block;
	color: rgb(180, 180, 180);
	margin-bottom: rem-calc(5);

	.google & {
		display: none;
	}
}
