/**
* #.# Main Navigation
*/
nav {
	display: none !important;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 9999;

	@include bp($tablet-portrait) {
		display: block !important;
	}

	ul {
		align-content: space-between;
		align-items: flex-start;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		@include fp(font-size,$nav-min,$nav-max,$start:768);

		justify-content: space-between;
		margin: 0;
		padding: 0;
		text-align: center;

		.ie10 &,
		.lt-ie10 & {
			display: block;
		}

		li {
			align-self: auto;
			display: inline;
			flex: 0 1 auto;
			flex-grow: 0;
			font-family: $font-nav;
			font-weight: $fw-nav;
			line-height: rem-calc(30); /* line-height is preferable to padding to set the height of the nav, unless the links need to wrap onto two lines */
			margin: 0;
			order: 0;
			position: relative;
			text-transform: $font-nav-transform;
			transition: all $transition;

			.ie10 &,
			.lt-ie10 & {
				display: inline-block;
			}

			> a {
				color: $nav-link;
				display: block;
				margin: 0;
				padding: 0;
				text-decoration: none;
				visibility: visible;
			}

			&.menu-item-has-children {

				> a {
					position: relative;

					&:after {

						@include icon("\f107");

						color: inherit;
						font-size: 80%;
						line-height: 100%;
						margin: 0 0 0 rem-calc(5);
						opacity: 0.5;
						vertical-align: middle;
					}
				}
			}

			&:hover,
			&:focus,
			&.current-menu-item,
			&.current-page-item,
			&.current-page-ancestor,
			&.current-menu-parent {
				background: $nav-link-bg-hover;

				> a {
					color: $nav-link-hover;
				}
			}

			/**
			* #.# Dropdowns
			*/
			ul {
				font-size: 80%;
				left: -9999px;
				margin: 0;
				min-width: 100%;
				opacity: 0;
				padding: 0;
				position: absolute;
				text-align: left;
				top: -9999px;
				transition: opacity $transition;
				visibility: hidden;
				white-space: nowrap;
				z-index: 1;

				li {
					background: $nav-dropdown-bg;
					display: block;
					font-family: $font-nav-dropdown;
					font-size: 100%;
					font-weight: $fw-nav;
					line-height: rem-calc(30);
					margin: 0;
					padding: 0;

					> a {
						color: $nav-dropdown;
						margin: 0;
						padding: 0 rem-calc(10);
						visibility: visible;

						&:hover,
						&:focus {
							color: $nav-dropdown-hover;
						}
					}

					&.menu-item-has-children {

						> a {

							&:after {

								@include icon("\f105");
							}
						}
					}

					&:hover,
					&:focus,
					&.current-menu-item,
					&.current-page-item,
					&.current-page-ancestor,
					&.current-menu-parent {
						background: $nav-dropdown-bg-hover;

						> a {
							color: $nav-dropdown-hover;
						}
					}

					ul {

						li {
							background: lighten($nav-dropdown-bg, 5%);
						}
					}
				}
			}

			/**
			* #.# Second Level Hover
			*/
			&:hover {

				ul {
					display: block;
					height: auto;
					left: 0;
					opacity: 1;
					top: 100%;
					visibility: visible;

					/**
					* #.# Third Level Hover
					*/
					li {

						ul {
							border: none;
							left: 0;
							opacity: 0;
							top: -9999px;
							visibility: hidden;
						}

						&:hover {

							ul {
								left: 100%;
								opacity: 1;
								top: 0;
								visibility: visible;
							}
						}
					}
				}
			}

			/**
			* #.# Align dropdowm items of the last main menu item to the left;
			*/
			&:last-of-type {

				&:hover {

					> ul {
						left: auto;
						right: 0;
					}
				}
			}
		}
	}
}


/**
* #.# Hide Draft Pages from Menu
*/
li.menu-item-draft,
li.menu-item-trash {
	display: none !important;
}
