/**
* #.# Tables
*/

table {
	margin: 0 0 $gutter 0;
	border-collapse: collapse;
	width: 100%;
	border: rem-calc(1) solid $border-color;

	th,
	td {
		border: rem-calc(1) solid $border-color;
		padding: $gutter/2;
	}

	tr {

		th {
			background: $color-3;
			color: #fff;
			font-weight: $fw-normal;
			text-align: left;
		}

		td {

			p:last-child {
				margin-bottom: 0;
			}
		}
	}


}

/**
* #.# Responsive Tables
*/
.table-container {
	width: 100%;
	overflow-x: auto;
}

/**
* #.# Responsive Tables using Stackable.js
*/

.stacktable {
	width: 100%;
}

.st-head-row {
	padding: $gutter/2;
}

.st-head-row.st-head-row-main {
	font-size: 1.5em;
}

.stacktable.large-only {
	display: table;
}

.stacktable.small-only {
	display: none;
}

@include bp($tablet-portrait) {

	.stacktable.large-only {
		display: none;
	}

	.stacktable.small-only {
		display: table;
	}

	.st-head-row-main,
	.st-key {
		display: none;
	}
}

/**
* #.# Responsive Tables using Foundaton's Responsive-Tables.js
*/

@include bp($tablet-portrait) {

	table.responsive {
		margin-bottom: 0;
	}

	.pinned {
		position: absolute;
		left: 0;
		top: 0;
		background: #fff;
		width: 35%;
		overflow: hidden;
		overflow-x: scroll;
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
	}

	.pinned table {
		border-right: none;
		border-left: none;
		width: 100%;
	}

	.pinned table th,
	.pinned table td {
		white-space: nowrap;
	}

	.pinned td:last-child {
		border-bottom: 0;
	}

	div.table-wrapper {
		position: relative;
		margin-bottom: 20px;
		overflow: hidden;
		border-right: 1px solid #ccc;
	}

	div.table-wrapper div.scrollable {
		margin-left: 35%;
	}

	div.table-wrapper div.scrollable {
		overflow: scroll;
		overflow-y: hidden;
	}

	table.responsive td,
	table.responsive th {
		position: relative;
		white-space: nowrap;
		overflow: hidden;
	}

	table.responsive th:first-child,
	table.responsive td:first-child,
	table.responsive td:first-child,
	table.responsive.pinned td {
		display: none;
	}

}
