/**
* #.# Typography
*/

/* Kill FOUT - hide all the things until fonts have loaded */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
th,
td {

	.wf-loading & {
		visibility: hidden;
	}
}

/* Set the body font */
body,
input,
select,
textarea,
label,
button,
p,
address,
th,
td {

	@include fp(font-size,$body-min,$body-max);
	font-family: $font-body;
}

/* Things that need FontAwesome */
ul li.menu-item-has-children:before,
article blockquote:before {
	font-family: FontAwesome;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
	font-weight: $fw-heading;
	text-transform: $font-heading-transform;
	line-height: $line-height-heading;
}

h1 {

	@include fp(font-size,$h1-min,$h1-max);
	margin-bottom: rem-calc(20);

	@include fp(margin-bottom,20,40);
	color: $color-3;
}

h2 {

	@include fp(font-size,$h2-min,$h2-max);
	margin-bottom: rem-calc(15);

	@include fp(margin-bottom,7.5,15);
	color: $color-1;
}

h3 {

	@include fp(font-size,$h3-min,$h3-max);
	margin-bottom: rem-calc(10);

	@include fp(margin-bottom,5,10);
}

h4,
h5,
h6 {

	@include fp(font-size,$h4h5h6-min,$h4h5h6-max);
	margin-bottom: rem-calc(7);

	@include fp(margin-bottom,5,7);
}

/* Paragraphs, strong, small, lists, blockquotes */
main,
article,
section#styleguide {

	p {

		@include fp(margin-bottom,$body-min,$body-max);
		line-height: $line-height-base;

		/* add more space for subheadings in big chunks of text*/
		+ h2,
		+ h3,
		+ h4 {

			@include fp(margin-top,25,40);
		}

		&:empty {
			display: none;

			+ h2,
			+ h3,
			+ h4 {

				margin-top: 0;
			}
		}
	}

	small {
		font-size: 90%;
		margin: 0 0 rem-calc(10);
		color: lighten($body, 0.9);
		text-transform: $font-heading-transform;

		&.meta {
			display: block;
			padding: $gutter/2 0;
		}
	}

	strong {
		font-weight: $fw-bold;
	}

	ul,
	ol {

		@include fp(font-size,$body-min,$body-max);
		margin: 0 $gutter $gutter;

		li {
			line-height: $line-height-base;
			margin-bottom: $gutter/4;
		}

		ul,
		ol { /*Lists within lists*/
			margin: $gutter/4 $gutter 0;
		}
	}

	ul {
		list-style: disc;
	}

	ol {
		list-style: decimal;
	}

	blockquote {
		margin: rem-calc(20);
		position: relative;
		padding: rem-calc(20);
	}
}
