/**
* #.# Breadcrumbs
*/

#breadcrumbs {
	list-style: none;
	margin: rc(20) auto 0;
	max-width: rc(1200);
	padding: 0 2%;

	@include fp(margin-top,20,40);

	li {
		display: inline-block;
		color: rgba($body, 0.5);
		font-size: 80%;
		margin: 0 rc(7) 0 0;
		opacity: 0.75;
		text-transform: uppercase;

		&:nth-child(n+2) {

			&:before {

				@include icon("\f105");
				display: inline-block;
				padding: 0 rc(5) 0 0;
			}
		}

		a {
			box-shadow: none;
			color: inherit;
			text-decoration: none;
		}
	}
}
