/*==============================================================================
	FOOTER
==============================================================================*/
footer {
	background-color: $grey;
	margin: auto 0 0;
	padding-bottom: rc(50); /* for mobile menu */
	z-index: 1;

	@include md {
		padding-bottom: 0;
	}

	.container {
		padding: rc(30) 2%;

		ul.site-footer__common {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			list-style: none;
			margin: rc(30) 0 0;
			padding: 0;
			text-align: center;
			width: 100%;

			@include sm {
				justify-content: flex-start;
				text-align: left;
			}

			li {
				color: rgba($white, 0.7);
				display: inline-block;
				font-size: rc(12);
				line-height: rc(20);
				padding: 0 rc(10);
				text-transform: uppercase;

				@include sm {
					padding: 0 rc(20) 0 0;

					&:last-of-type {
						margin-left: auto;
						padding: 0;
						text-align: right;
					}
				}

				a {
					border-width: 0;
					box-shadow: none;
					color: rgba($white, 0.7);
					display: block;
					text-decoration: none;

					span {
						margin-left: rc(5);
						transition: none;
					}

					&:hover,
					&:focus {
						color: $white;
					}
				}
			}
		}
	}
}
