/**
* #.# Messages
*
* A group of mixins for messages
*/
.message { /* information colours and icon by default */
	background-color: rgba($information, 0.1);
	border: 0 solid $information;
	color: $information;
	font-family: $font-body;
	font-size: 85%;
	margin: 1em 0;
	min-height: rc(40);
	padding: rc(20) rc(20) rc(20) rc(50);
	position: relative;

	a {
		color: inherit;
		font-weight: $fw-bold;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&:before {

		@include icon("\f129");
	}

	.svg-inline--fa {

		@include align-vertical;
		background: rgb(0, 82, 155);
		border-radius: 50%;
		color: $white;
		display: block;
		//font-size: rc(12);
		height: rc(18);
		left: rc(20);
		padding: rc(2);
		width: rc(18);
	}
}

@mixin message {

	@extend .message;
}

@mixin message-error {

	@extend .message;
	background-color: rgba($error, 0.1);
	border: 0 solid $error;
	color: $error;

	&:before {

		@include icon("\f00d");
	}

	.svg-inline--fa {
		background-color: $error;
	}
}

@mixin message-success {

	@extend .message;
	background-color: rgba($success, 0.1);
	border: 0 solid $success;
	color: $success;

	&:before {

		@include icon("\f00c");
	}

	.svg-inline--fa {
		background-color: $success;
	}
}

@mixin message-warning {

	@extend .message;
	background-color: rgba($warning, 0.1);
	border: 0 solid $warning;
	color: $warning;

	&:before {

		@include icon("\f12a");
	}

	.svg-inline--fa {
		background-color: $warning;
	}
}

.error.message {

	@include message-error;
}

.success.message {

	@include message-success;
}

.warning.message {

	@include message-warning;
}

/**
* #.# Iframe Disclaimer
*/

.dontblamegoop {
	background: rgb(240, 240, 240);
	padding: rc(5);
	text-align: center;
	font-size: rc(11);
	display: block;
	color: rgb(180, 180, 180);
	margin-bottom: rc(5);

	.google & {
		display: none;
	}
}
