.site-search {
	display: flex;
	position: relative;
	width: 100%;

	&__field {
		margin: 0;

		span {
			display: none;
		}

		&__input {

			@include placeholder {
				color: $body;
			}

			background-color: $white;
			border: none;
			color: $body;
			line-height: 1;
			outline: none;
			padding: 0.35em 0.5em;
			transition: all $ease;
			width: 100%;

			&:focus {
				border-color: $link-color-hover;
			}
		}
	}

	&__button {
		background-color: $white;
		border: none;
		cursor: pointer;
		position: relative;

		.fa {

			@include align-center;
		}
	}
}
