/*==============================================================================
	SIDEBARS
==============================================================================*/
.sidebar {
	padding: rc(30) 0 0;

	@include md {
		padding: 0;

		&.sidebar--lhs {
			order: -1;
			padding-right: 3%;
		}

		&.sidebar--rhs {
			order: 10;
			padding-left: 3%;
		}
	}

	ul {
		list-style: none;
		margin: 0 0 rc(20);
		padding: 0;

		&:not(:empty):before {
			display: block;
			font-weight: $fw-bold;
		}

		&.sidebar__archives:not(:empty) {

			&:before {
				content: "Archive";
			}
		}

		&.sidebar__categories:not(:empty) {

			&:before {
				content: "Categories";
			}
		}

		&.sidebar__archives,
		&.sidebar__categories {

			li {

				a {
					color: $brand1;
					font-size: 90%;
					text-decoration: none;
					text-transform: uppercase;
				}
			}
		}
	}
}
