.slider {
	overflow: hidden;

	.slide {
		padding: 30% 50%;
		position: relative;

		@include sm {
			padding: 24% 50%;
		}

		@include md {
			padding: 18% 50%;
		}

		&__image {
			background-color: rgba($black, 0.1);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
		}
	}

	.slick-arrow {

		@include align-vertical;
		font-size: 225%;
		color: rgba($white, 0.3);
		cursor: pointer;
		outline: none;
		transition: color $ease;
		width: rc(20);
		z-index: 1000;

		&:focus,
		&:hover {
			color: $white;
		}

		&:after {
			display: none;
		}

		&.next {
			right: 1%;

			&:after {

				@include icon-l("\f105");
			}
		}

		&.prev {
			left: 1%;

			&:after {

				@include icon-l("\f104");
			}
		}

		svg {

			@include align-center;
			font-size: inherit;
		}
	}

	.slick-dots {

		@include align-horizontal;
		bottom: rc(20);
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			background-color: rgba($white, 0.2);
			border: rc(1) solid $white;
			border-radius: 50%;
			display: inline-block;
			height: 0.75em;
			margin: 0.25em;
			overflow: hidden;
			transition: background-color $ease;
			width: 0.75em;

			button {
				background-color: transparent;
				border: none;
				cursor: pointer;
				display: block;
				height: 100%;
				font-size: 0;
				outline: none;
				padding: 0;
				width: 100%;
			}

			&:focus,
			&:hover,
			&.slick-active {
				background-color: $white;
			}
		}
	}
}
