/**
* #.# Extras that don't fit into a specific partial.
*/

.google-map {
	margin: rc(50) 0 0;
	width: 100%;

	iframe {
		display: block;
		margin: 0;
		width: 100% !important;
	}
}

.video-container {
	height: 0;
	margin-bottom: rc(20);
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: rc(25);
	position: relative;

	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
