/**
* #.# Accordion
*/
.accordion {

	h4 {

		&:before {

			@include icon("\f054");
			padding-right: $gutter/2;
		}

		&.open {
			color: $color-3;

			&:before {

				@include icon("\f078");
				padding-right: $gutter/2;
			}
		}

		&:hover,
		&:focus {
			cursor: pointer;
			color: $color-1;
		}
	}
}
