#mobile-cta {
	background-color: $color-1;
	border-top: rem-calc(1) solid rgba(56, 56, 56, 0.4);
	bottom: 0;
	display: block;
	position: fixed;
	width: 100%;
	z-index: 999999;

	ul {
		display: flex;
		justify-content: space-around;
		list-style: none;

		li {
			padding: rem-calc(10) rem-calc(20);

			a {
				color: $white;
				font-size: rem-calc(24);
				text-decoration: none;
			}
		}
	}

	@include bp($tablet-portrait) {
		display: none;
	}
}
