blockquote.review {

	border-top: rem-calc(1) solid $border-color;
	margin: 0;
	padding: rem-calc(20) 0 rem-calc(20) rem-calc(30);

	@include fp(padding-top,20,40);
	@include fp(padding-bottom,20,40);

		@include bp($small) {
		flex-wrap: nowrap;
	}

	&:before {

		@include icon("\f10d");

		left: 0;
		opacity: 0.3;
		overflow: visible;
		position: absolute;
		top: $gutter;

		@include fp(top,20,40);

		visibility: visible;

	}

	&:first-of-type {

		border-top: none;
		padding-top: 0;

		&:before {
			top: 0;
		}
	}

	.image {
		padding: 0 0 rem-calc(10);
		width: 100%;

		img {
			display: block;
			margin: 0 auto;
			width: 100%;
			height: auto;
		}

		a,
		a:hover,
		a:focus {
			border: none;
			padding: 0;
			margin: 0;
		}
	}

	.excerpt {

		h3 {
			background: none;
			padding: 0;
			margin: 0 0 rem-calc(15);

			a {
				&.title {
					border: none;
					box-shadow: none;
					color: $body;
					margin: 0;
					padding: 0;
					text-decoration: none;
					&:hover,
					&:focus {
						color: $body;
					}
				}
			}
		}

		cite {

			display: block;
			font-size: 85%;
			font-style: normal;
			margin: rem-calc(-5) 0 0 rem-calc(10);
			position: relative;

			span {

				&.business {

					display: block;
				}

				&.location {

					display: block;
				}

				&.url {

					display: block;

					a {

						border: none;
						color: inherit;
						font-size: 90%;
						opacity: 0.8;
					}
				}
			}

			&:before {

				clear: both;
				content: "- ";
				left: rem-calc(-10);
				position: absolute;
				top: 0;
			}
		}

		a.btn {

			@include fp(font-size,$body-min - 2,$body-max - 2);
		}
	}

	&.has-post-thumbnail {

		@include bp($small) {

			.image {

				width: 15%;
			}

			.excerpt {

				padding: 0 0 0 rem-calc(30);
				width: 85%;
			}
		}
	}
}

// 	img {
// 		display: none;
// 	}
//
// 	main & {
// 		min-height: 0;
// 		position: relative;
// 		padding: $gutter 0 0 $gutter;
// 		margin: $gutter 0 0;
// 		border-top: rem-calc(1) solid $border-color;
//
// 		&:before {
//
// 			@include icon("\f10d");
// 			opacity: 0.3;
// 			position: absolute;
// 			top: $gutter;
// 			left: 0;
// 			clear: both;
// 			visibility: visible;
// 			overflow: visible;
// 		}
//
// 		&.img {
// 			padding-right: 25%;
// 		}
//
// 		img {
// 			display: block;
// 			padding: 0 0 $gutter $gutter;
// 			float: right;
// 			width: 25%;
// 			position: absolute;
// 			right: 0;
// 		}
// 	}
//
// 	ul,
// 	ol {
// 		margin: 0 0 $gutter/2 $gutter;
// 	}
//
// 	cite {
// 		display: block;
// 		margin: 0 0 0 rem-calc(10);
// 		margin-top: rem-calc(-5);
// 		font-style: normal;
// 		font-size: rem-calc(14);
// 		position: relative;
//
// 		span {
//
// 			&.business {
// 				display: block;
// 			}
//
// 			&.location {
// 				display: block;
// 			}
//
// 			&.url {
// 				display: block;
//
// 				a {
// 					font-size: 90%;
// 					opacity: 0.8;
// 					color: inherit;
// 					border: none;
// 				}
// 			}
// 		}
//
// 		&:before {
// 			content: "- ";
// 			position: absolute;
// 			top: 0;
// 			left: rem-calc(-8);
// 			clear: both;
// 		}
// 	}
// }
