/*=================================================================================
	SLIDESHOW
=================================================================================*/
#slideshow {
	padding:0;
	position:relative;
	z-index:0;
	max-width: $boundary;
	margin: 0 auto;
	
	.cycle-slideshow {
		position: relative;
		width:100%;
		margin:0 auto;
		display:block;
		img {
			display: block;
			margin: 0 auto;
			width: 100%;
			height: auto;
		}
		.cycle-caption {
			position: absolute;
			left: 6.25%;
			top: rem-calc(30);
			z-index: 9999;
			font-size: rem-calc(28);
			font-weight: 300;
			color: darken($body,20%);
			line-height: rem-calc(30);
			strong {
				font-size: rem-calc(32);
				display: block;
				font-weight: 600;
			}
		}
		.cycle-pager {
			text-align: center;
			width: 100%; 
			z-index: 9999; 
			position: absolute; 
			bottom: 0;
			left: 0;
			span {
				width:rem-calc(14); 
				height:rem-calc(14); 
				display: inline-block; 
				background: rgba(255,255,255,0.2);
				color: rgba(255,255,255,0.0);
				cursor: pointer; 
				border:rem-calc(1) solid #ffffff;
				border-radius:100%;
				margin:rem-calc(2);
				&.cycle-pager-active {
					background: #ffffff;
				}
			}
		}
	}
}