/**
* #.# Staff Custom Post Type
*/

.excerpt.type-staff,
.single-staff article {

	h1,
	h3.title {

		span {
			display: inline-block;
			margin: 0 0 0 rem-calc(10);
			font-weight: $fw-normal;
			font-size: 75%;
			opacity: 0.7;
		}
	}

	span {

		&.title {

			display: block;
			margin: rem-calc(10) 0;
			font-size: 75%;
			text-transform: uppercase;
		}
	}

	ul {
		list-style: none;
		margin: rem-calc(20) 0 0;
		padding: 0;

		li {
			display: inline-block;
			margin: 0 rem-calc(10) 0 0;

			a {
				border: none;
				text-decoration: none;
				color: inherit;

				.fa {
					color: inherit;
					transition: all $transition;
				}

				&:hover,
				&:focus {

					.fa {

						&[class*="facebook"] {
							color: $facebook;
						}

						&[class*="google"] {
							color: $googleplus;
						}

						&[class*="instagram"] {
							color: $instagram;
						}

						&[class*="linkedin"] {
							color: $linkedin;
						}

						&[class*="pinterest"] {
							color: $pinterest;
						}

						&[class*="twitter"] {
							color: $twitter;
						}
					}
				}
			}
		}

		&.contact {

			li {
				display: block;
			}
		}
	}
}
