/**
* #.# Main Navigation
*/
.nav.nav--main {
	display: none !important;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 9999;

	@include switch {
		display: block !important;
	}

	ul {
		align-content: space-between;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		font-size: 100%;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;

		.ie10 &,
		.lt-ie10 & {
			display: block;

			li {
				display: inline-block;
			}
		}

		> li {
			flex: 0 1 auto;
			flex-grow: 0;
			font-family: $font-nav;
			font-weight: $fw-nav;
			line-height: 1.15;
			margin: 0;
			order: 0;
			position: relative;
			text-transform: $font-nav-transform;
			transition: all $ease;

			&:nth-child(n+11) {
				display: none;
			}

			&.menu-item-has-children {

				> a {

					&:after {

						@include icon-l("\f107");
						// style the svg this creates, not this element.
					}

					svg.svg-inline--fa {
						color: inherit;
						font-size: 90%;
						margin: 0 0 0 rc(5);
						opacity: 0.5;
					}
				}
			}

			> a {
				color: $nav-l1;
				display: block;
				margin: 0;
				padding: 1em 0;
				position: relative;
				text-decoration: none;
				visibility: visible;
			}

			// Second level.
			> ul {

				@include align-horizontal;
				font-size: 90%;
				left: -9999px;
				margin: 0;
				min-width: 100%;
				opacity: 0;
				padding: 0;
				position: absolute;
				text-align: center;
				top: -9999px;
				transition: opacity $ease;
				visibility: hidden;
				white-space: nowrap;
				z-index: -100;

				> li {
					background-color: $nav-l2-bg;
					border: solid rgba($white, 0.15);
					border-width: 0 0 rc(1);
					display: block;
					font-family: $font-nav-dropdown;
					font-size: 100%;
					font-weight: $fw-nav;
					line-height: rc(30);
					margin: 0;
					padding: 0;

					&.menu-item-has-children,
					&.page_item_has_children {

						> a {

							&:after {

								@include icon-l("\f105");
								// style the svg this creates, not this element.
							}

							svg.svg-inline--fa {

								@include align-vertical;
								color: inherit;
								font-size: 90%;
								margin: 0;
								opacity: 0.5;
								right: rc(10);
							}
						}
					}

					> a {
						color: $nav-l2;
						margin: 0;
						padding: rc(5) rc(30);
						position: relative;
						visibility: visible;
					}

					// Third level.
					> ul {
						font-size: 90%;
						left: -9999px;
						margin: 0;
						min-width: 100%;
						opacity: 0;
						padding: 0;
						position: absolute;
						text-align: center;
						top: -9999px;
						transition: opacity $ease;
						visibility: hidden;
						white-space: nowrap;
						z-index: -100;

						> li {
							background-color: $nav-l3-bg;

							> a {
								color: $nav-l3;
							}
						}
					}
				}
			}

			// First level hover.
			&:hover,
			&:focus,
			&.current-menu-item,
			&.current-menu-parent,
			&.current-page-ancestor,
			&.current-page-item,
			&.current_page_ancestor,
			&.current_page_item {
				background-color: $nav-l1-bg-hover;

				> a {
					color: $nav-l1-hover;
				}
			}

			&:hover,
			&:focus {

				> ul {
					display: block;
					height: auto;
					left: 50%;
					opacity: 1;
					top: 100%;
					visibility: visible;
					z-index: 1;

					> li {

						// Second level hover.
						&:hover,
						&:focus,
						&.current-menu-item,
						&.current-menu-parent,
						&.current-page-ancestor,
						&.current-page-item,
						&.current_page_ancestor,
						&.current_page_item {
							background-color: $nav-l2-bg-hover;

							> a {
								color: $nav-l2-hover;
							}
						}

						&:hover,
						&:focus {

							> ul {
								left: 100%;
								top: 0;
								transform: none;
								z-index: 1;

								> li {

									// Third level hover.
									&:hover,
									&:focus,
									&.current-menu-item,
									&.current-menu-parent,
									&.current-page-ancestor,
									&.current-page-item,
									&.current_page_ancestor,
									&.current_page_item {
										background-color: $nav-l3-bg-hover;

										> a {
											color: $nav-l3-hover;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/**
* #.# Hide Draft Pages from all menus.
*/
li.menu-item-draft,
li.menu-item-trash {
	display: none !important;
}
