/**
 * Mobile menu - includes body and scroll up icon so it's in once place
 * Responsive menu below too
 */

.site-mobile {

	ul.mobile-menubar {
		align-items: center;
		background-color: $brand1;
		border-top: rc(1) solid rgba($white, 0.5);
		bottom: 0;
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;
		position: fixed;
		width: 100%;
		z-index: 9999;

		li {
			color: $white;
			flex-grow: 1;
			font-size: rc(24);
			padding: rc(10) rc(20);
			text-align: center;
			text-transform: uppercase;

			svg {
				cursor: pointer;
			}

			a,
			i {
				color: inherit;
				text-decoration: none;
			}
		}

		@include switch {
			display: none;
		}
	}

	// Responsive menu for when mobile menu is showing
	.nav.nav--mobile {
		background-color: rgba($black, 0);
		bottom: 0;
		display: block;
		left: 0;
		overflow: hidden;
		pointer-events: none;
		position: fixed;
		top: 0;
		transition: background-color $ease;
		width: 100%;
		z-index: 9998;

		@include switch {
			display: none;
		}

		&.slide {
			background-color: rgba($black, 0.8);
			max-width: 100%;
			overflow: auto;
			pointer-events: initial;

			ul {
				margin-left: 0;
			}
		}

		ul {
			background-color: $nav-responsive-bg;
			display: block;
			font-size: rc(16);
			min-height: 100%;
			list-style: none;
			margin: 0 0 0 -60%;
			padding: rc(10) 0 rc(60);
			transition: $ease;
			width: 60%;

			li {
				color: $nav-responsive-l1;
				font-family: $font-nav;
				font-weight: $fw-nav;
				line-height: 1.15;
				margin: 0;
				padding: 0;
				text-transform: $font-nav-transform;

				a {
					color: inherit;
					text-decoration: none;
					display: block;
					padding: 0.5em 1em;
				}

				&.menu-item-has-children {
					position: relative;

					&:after {

						@include icon-l("\f107");
						// style the svg this creates, not this element.
					}

					svg {
						color: inherit;
						margin: 0 0 0 rc(5);
						opacity: 0.5;
						position: absolute;
						right: 1em;
						top: rc(11);
					}
				}

				ul {
					display: none;
					font-size: 90%;
					left: 0;
					margin: 0;
					opacity: 0;
					padding: 0;
					text-align: left;
					top: -9999px;
					transition: $ease;
					white-space: normal;
					width: auto;
					z-index: 1;

					li {
						font-weight: $fw-nav;
						padding-left: rc(20);
						position: relative;

						&:before {

							@include align-vertical;
							content: "- ";
							left: rc(20);
						}

						a {
							color: inherit;
						}

						ul li {

							&:before {
								content: "-- ";
							}
						}
					}
				}

				&:hover {
					color: $nav-responsive-l1-hover;

					> ul {
						display: block;
						height: auto;
						left: auto;
						opacity: 1;
						overflow: visible;
						position: relative;
						top: auto;
					}
				}
			}
		}
	}
}
