/*==============================================
	EVENTS
==============================================*/
.type-event {
	clear:both;
	padding:$gutter 0 0;
	margin:$gutter 0 0;
	border-top:rem-calc(1) solid $border-color;
	h3.title {
		background:none;
		padding:0;
		margin:0 0 $gutter/4;
		a:not(.img):not(.btn) {
			text-decoration:none;
			padding:0;
			margin:0;
			border-color:transparent;
			color:inherit;
			&:hover, &:focus {
				background:none;
				color:$body;
				border:none;
			}
		}
	}
	small {
		opacity:0.8;
	}
	.image {
		@include breakpoint(">#{$tablet-portrait}") {
			padding-right:$gutter;
		}
		img {
			display:block;
			margin:0 auto rem-calc(10);
			width:100%;
			height:auto;
			@include breakpoint(">#{$tablet-portrait}") {
				margin:0;
			}
		}
		a, a:hover, a:focus {
			border:none;
			padding:0;
			margin:0;
		}
	}
}
.type-event {
	.single-event & {
		padding-top:0;
		margin-top:0;
		border-top:none;
	}
	ul.eo-event-meta {
		list-style:none;
		margin:0 0 $gutter;
		li {
			font-size:rem-calc(18);
		}
	}
	#eo-upcoming-dates {
		list-style:none;
		margin:0 0 rem-calc(10);
		li {
			font-size:rem-calc(15);
			line-height:1.15;
			margin:0;
		}
	}
	a {
		&#eo-upcoming-dates-less, &#eo-upcoming-dates-more {
			font-size:rem-calc(12);
			padding:rem-calc(3) 0;
			text-transform:uppercase;
			border:none;
			display:inline-block;
			margin:0 rem-calc(10) 0 0;
			text-decoration:none;
		}
		&#eo-upcoming-dates-less {
			&:before {
				content:"\2013";
				padding-right:rem-calc(5);
			}
		}
		&#eo-upcoming-dates-more {
			&:before {
				content:"\2b";
				padding-right:rem-calc(5);
			}
		}
	}
	#eo-upcoming-dates-pipe {
		display:none!important;
	}
}
