/**
* #.# Mailchimp
*/
#mc_embed_signup {
	margin: rc(10) auto rc(20);
	padding: 0;

	@include bp($m) {

		margin: rc(10) 0 rc(20);
	}

	form {
		position: relative;

		.indicates-required {
			font-size: 0;
			color: transparent;

			span {
				font-size: 0;
				color: transparent;
			}

			&:before {
				content: "Fields marked with a * are required";
				margin: 0 0 rc(5) 0;
				font-size: $font-size-small;
				color: #666;
				font-style: italic;
			}
		}

		.mc-field-group {

			label {
				display: none;
			}

			input {

				@include placeholder($body);
				background: lighten($brand2, 35%);
				border: none;
				padding: rc(5);
				font-size: rc(13);
				padding-right: rc(50);
				line-height: 1;
				color: $body;
				max-width: rc(350);
				font-weight: $fw-bold;

				&:hover,
				&:focus {
					background: lighten($brand2, 40%);
				}
			}

			div {

				&.mce_inline_error {
					font-size: $font-size-small !important;
					font-weight: $fw-normal;
					background: lighten(#c00, 20%) !important;
					border: rc(1) solid #c00 !important;
					margin: 0;
					max-width: rc(350);
				}
			}
		}

		#mce-responses > div {
			padding: rc(20)/2;
			margin-top: 0;
			font-size: $font-size-small;
			color: #fff;
			max-width: rc(350);

			a {
				color: inherit;
			}

			&#mce-error-response {
				background: lighten(#c00, 20%);
				border: rc(1) solid #c00;
			}

			&#mce-success-response {
				background: #87ae5d;
				border: rc(1) solid darken(#87ae5d, 20%);
			}
		}

		#mc-embedded-subscribe {
			background: $brand1;
			border: none;
			color: #fff;
			border-radius: rc(3);
			padding: rc(5) rc(15);
			margin: rc(5) 0 0;
			font-family: $font-heading;
			top: 0;
			right: 0;
			line-height: 1;
			font-size: rc(16);

			&:hover {
				background: darken($brand1, 5%);
			}
		}
	}
}
