.modal {
	position: fixed;

	&__full-screen {
		background-color: rgba($black, 0.85);
		bottom: 0;
		left: 0;
		opacity: 0;
		right: 0;
		top: 0;
		transition: $ease;
		z-index: -10000;

		&.visible {
			opacity: 1;
			z-index: 10000;
		}

		.modal__content {

			@include align-center;
			background-color: $white;
			max-height: 50%;
			max-width: 50%;
			overflow-x: hidden;
			overflow-y: auto;
			padding: rc(30);
		}
	}

	.modal__toggle {
		color: $white;
		cursor: pointer;
		font-size: rc(20);
		position: fixed;
		right: rc(20);
		top: rc(20);
	}
}

.modal__toggle {
	cursor: pointer;
}
