blockquote.testimonial {
	img {
		display:none;
	}
	main & {
		min-height:0;
		position:relative;
		padding:$gutter 0 0 $gutter;
		margin:$gutter 0 0;
		border-top:rem-calc(1) solid $border-color;
		&:before {
			content:"\f10d";
			opacity:0.3;
			position:absolute;
			top:$gutter;
			left:0;
			clear:both;
			visibility:visible;
			overflow:visible;
		}
		&.img {
			padding-right:25%;
		}
		img {
			display:block;
			padding:0 0 $gutter $gutter;
			float:right;
			width:25%;
			position:absolute;
			right:0;
		}
	}
	ul, ol {
		margin:0 0 $gutter/2 $gutter;
	}
	cite {
		display: block;
		margin: 0 0 0 rem-calc(10);
		margin-top:rem-calc(-5);
		font-style: normal;
		font-size: rem-calc(14);
		position: relative;
		span {
			&.business {
				display:block;
			}
			&.location {
				display:block;
			}
			&.url {
				display:block;
				a {
					font-size:90%;
					opacity:0.8;
					color:inherit;
					border:none;
				}
			}
		}
		&:before {
			content: "- ";
			position: absolute;
			top: 0;
			left: rem-calc(-8);
			clear: both;
		}
	}
}