.content__page__subs {
	border-top: rc(2) solid $border-color;
	margin: 0;

	@include fp(margin-top,20,40);
	padding: rc(20) 0;

	@include fp(padding-top,20,30);

	> span {
		display: block;
		font-size: 105%;
		font-weight: $fw-bold;
		opacity: 0.5;
	}

	.page.child {
		border: solid $border-color;
		border-width: 0 0 rc(1);
		padding: 1.5em 0;

		&:last-of-type {
			border-width: 0;
		}

		.page--excerpt {
			font-size: 90%;

			h3 {
				font-size: 105%;
			}

			a.page--read-more {

				&:hover,
				&:focus {
					color: $brand1;
				}
			}
		}
	}
}
